label{
   // color: #fff;
}
.anchor1{
    text-decoration:none ! important;
}
.filmimg{
    margin-top: 43px;
}
.filmimg1{
      margin-top: 10%;
}
.backimg{
    background-image: url("../img/img.jpg");
      background-size: 100% 150%;
}
.back{
  padding-left:6%; 
  background-color:rgba(211, 211, 211, 0.68);//rgba(211, 211, 211, 0.48);// rgba(255,255,255,.8);
  padding-top: 10px;
  padding-bottom:10px;
  border-radius:5px;
  
}
.form-horizontal .form-group {
  margin-right: -17%;
  margin-left: -15px;
}
.notmember{
      margin-left: 10%;
}
.alert-danger {
  color: #a94442;
  background-color: rgba(232, 144, 144, 0.76);
  border-color: rgba(227, 160, 160, 0.99);
  color: white;
}